# The following file extensions and directories, or patterns will be ignored by git tracking system:

*.o
*.obj
*.exe
*.user
*.pdf
*.json
*.txt

Textbook/
build*/
CMake_and_Makefile/cmake-*-tutorial-source/*