# The following file extensions and directories, or patterns will be ignored by git tracking system:

*.o
*.obj
*.exe
*.user
*.pdf
*.json
*.txt
*.DS_Store

Textbook/
build*/
CMake_and_Makefile/cmake-*-tutorial-source/
CMake_and_Makefile/src/
*/.cache/

CMake_and_Makefile/*/external/
