# The following file extensions and directories, or patterns will be ignored by git tracking system:

*.o
*.obj
*.exe
*.out
*.user
*.pdf
*.json
*.pcm
*.DS_Store

Textbook/
build*/
CMake_and_Makefile/cmake-*-tutorial-source/
CMake_and_Makefile/src/
*/.cache/
3rd_party_libs/

CMake_and_Makefile/*/external/
